@import './admin/assets/css/animate.min.css';
@import './admin/assets/css/animation.css';
@import './admin/assets/css/bootstrap.css';
@import './admin/assets/css/bootstrap-select.min.css';
@import './admin/assets/css/plugins/swiper.min.css';
@import './admin/assets/css/sweetalert.min.css';
@import './admin/assets/font/fonts.css';
@import './admin/assets/icon/style.css';
@import './admin/assets/css/style.css';
@import './admin/assets/css/custom.css';